body {
	margin: 0;
	font-family: 'Exo 2', sans-serif;
	background-color: rgb(235, 234, 235);
}

.container {
	width: 90%;
	margin: 3% auto;
}

header {
	margin: 0 auto;
	text-align: center;
	font-weight: 800;
}

header h1 {
	font-size: 50px;
	margin-top: 10px;
	transition: all 500ms;
}

button {
	height: 40px;
	width: 100px;
	border-radius: 5px;
	margin: 0 auto;
	display: block;
}

.button-text {
	display: none;
	font-family: 'Exo 2', sans-serif;
	font-size: 15px;
}

.main-section {
	display: flex;
	justify-content: space-between;
}

.left-control {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#start {
	width: 200px;
}

.tone-effects {
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin: 0 auto;
}

.section {
	border: solid 4px black;
	border-radius: 10px;
	padding: 10px;
}

.left-effects {
	display: flex;
	flex-direction: column
}

.left-effects h3{
	text-align: center;
	margin-top: 0;
}

.tone-buttons {
	display: flex;
	flex-direction: column;
}

.button-title {
	text-align: center;
	margin-top: 0;
}

.right-control {
	width: 67%;
}

.section-title {
	margin: 0;
}

.section-title h2 {
	display: flex;
	justify-content: space-around;
	width: 50%;
	text-transform: uppercase;
	margin: 0 auto;
	align-items: center;
}

.one {
	font-size: 50px;
}

.two {
	font-size: 45px;
}

.three {
	font-size: 40px;
}

.four {
	font-size: 35px;
}

.five {
	font-size: 30px;
}

.six {
	font-size: 25px;
}

.seven {
	font-size: 20px;
}

.section-title h2 {
	margin-bottom: .25em;
	margin-top: 0;
}

.effect-grid {
	border: 4px black solid;
	border-radius: 20px;
	background-color: rgb(46,19,114);
}

.instructions {
	margin-top: 10px;
}

ul {
	list-style: decimal inside none;
}

.gradient {
	background-color: #FF0900;
	background: radial-gradient(circle, #FF0900 10%, transparent 100%), #CC0700;
  	background: -webkit-radial-gradient(circle, #FF0900 10%, transparent 100%), #CC0700;
  	background: -moz-radial-gradient(circle, #FF0900 10%, transparent 100%), #CC0700;
}

@media (max-width: 1200px) {
	.container {
		width: 90%;
	}
	.main-section {
		display: block;
	}
	header h1 {
		margin-top: 5px;
		font-size: 40px;
	}
	.left-control, .tone-buttons, .left-effects {
		flex-direction: row;
		padding: 0;
	}
	button {
		margin: 0 5px 5px 0;
	}
	#start {
		width: 100px;
	}
	.left-control {
		width: 100%;
		margin: 0 auto;
		flex-direction: row;
		border-bottom: solid 1px black;
		align-items: flex-end;
	}
	.left-control p {
		display: none;
	}
	.button-text {
		display: block;
	}
	.start, .tone-effects {
		margin-right: 20px;
		border-right: solid 1px black;
		padding: 0 15px 0 0;
	}
	.section {
		border: none;
	}
	.left-effects h3 {
		display: none;
	}
	.right-control {
		margin: 0 auto;
		width: 100%;
	}
}

@media (max-width: 624px) {
	.tone-effects, .left-control, .start {
		border: none;
	}
	.left-control {
		display: block;
		margin: 0 auto;
		width: 50%;
	}
	.tone-buttons, .left-effects {
		justify-content: center;
	}
	.tone-effects {
		justify-content: flex-start;
	}
	.section-title {
		display: none;
	}

}
